.protoRegist_Seek {
  min-height: 100vh;
}
.protoRegist_Seek .left {
  height: 100vh;

  position: relative;
}
.protoRegist_Seek .left .authLogo {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -10px;
  font-style: italic;
  font-weight: 500;
  font-size: 5rem;
}
.protoRegist_Seek .left .welcomeText {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
}
.protoRegist_Seek .left .welcomeText .mainTex {
  padding:0 90px;
  font-size: 2.1rem;
  color: white;

  /* text-align: center; */
}
.protoRegist_Seek .left .welcomeText .alterLink{
  padding-left: 90px;

}

.protoRegist_Seek .right {
  height: 100vh;
  position: relative;
}

.protoRegist_Seek .right .form {
  width: 80%;
  margin: auto;
}

.protoRegist_Seek .right .form input::placeholder {
  color: rgb(155, 154, 154);
 }